
.project-container {
    padding-bottom: 8em;
}
.project-thumbnail-wrapper {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 2em;
}

.project-thumbnail {
    display: inline-block;
    position: relative;
    height: 160px;
    width: 200px;
    text-align: left;
    overflow: hidden;
    border: solid white 1px;
    background: white;
}

.project-thumbnail img {
    opacity: 1;
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.6s;
    min-width: 100%;
    min-height: 100%;
}
.project-thumbnail img:hover {
    opacity: 0.8;
}

.project-thumbnail > h4 {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 5px 10px 5px 10px;
    top: 100px;
}

.project-view {
    position:relative;
    text-align:right;
}
.project-view.ng-enter {
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
    transition-delay: 0.2s;
    opacity: 0;
}
.project-view.ng-enter.ng-enter-active {
    opacity: 1;
}

.exit {
    position:fixed;
    margin-left: -50px;
}
.exit > img {
    width:50px;
    height:50px;
}

.project-body {
    position:absolute;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    top: -10em;
    padding: 10em 2em 10em 2em;
    margin: 0 0 6em 0;
}
.project-body img {
    width: 80%;
    padding: 2em 0 2em 0;
}
.project-body h1 {
    padding-bottom: 1em;
}
.project-body .textblock {
    position: relative;
    left: 5%;
    width: 90%;
    text-align: left;
}

/*.project-thumbnail {*/
    /*transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;*/
/*}*/
/*.project-thumbnail.ng-enter {*/
    /*opacity: 0;*/
/*}*/
/*.project-thumbnail.ng-enter.ng-enter-active {*/
    /*opacity: 1;*/
/*}*/
/*.project-thumbnail.ng-enter-stagger {*/
    /*transition-delay: 0.3s;*/
    /*animation-delay: 0.3s;*/
/*}*/

