
.abouttext {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10em 2em 15em 2em;
    margin: -10em 0 -10em 0;
}
.abouttext h2 {
    padding-top: 1em;
    font-weight: bold;
}
.abouttext li p {
    margin: 0;
}
